<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bajin.dao.CarinfoMapper" >
  <resultMap id="BaseResultMap" type="com.bajin.pojo.Carinfo" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="dishid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="carnum" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updatetime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, dishid, userid, carnum, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from carinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from carinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bajin.pojo.Carinfo" >
    insert into carinfo (id, dishid, userid, 
      carnum, createtime, updatetime
      )
    values (#{id,jdbcType=INTEGER}, #{dishid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      1, now(), #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bajin.pojo.Carinfo" >
    insert into carinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dishid != null" >
        dishid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="carnum != null" >
        carnum,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dishid != null" >
        #{dishid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="carnum != null" >
        #{carnum,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bajin.pojo.Carinfo" >
    update carinfo
    <set >
      <if test="dishid != null" >
        dishid = #{dishid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="carnum != null" >
        carnum = #{carnum,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bajin.pojo.Carinfo" >
    update carinfo
    set dishid = #{dishid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      carnum = #{carnum,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="isAddDish" parameterType="com.bajin.pojo.Carinfo" resultType="int">
    select count(*) from carinfo where userid = #{userid} and dishid = #{dishid}
  </select>

  <update id="updataCarNum" parameterType="com.bajin.pojo.Carinfo" >
    update carinfo set carnum = carnum + 1 where userid = #{userid} and dishid = #{dishid}
  </update>

  <select id="selectCar" parameterType="int" resultType="com.bajin.vo.CarinfoVO">
    select
    carinfo.id as id,
    dishname,
    price,
    carnum
    from carinfo,dishinfo where carinfo.dishid = dishinfo.id and userid = #{id}
  </select>

  <delete id="cancleAll" parameterType="int">
       delete from carinfo where userid = #{id}
  </delete>

  <!--根据用户主键查询餐车信息-->
  <select id="queryCarByUid" parameterType="int" resultType="com.bajin.pojo.Carinfo">
    select
    id,dishid,userid,carnum
    from carinfo where userid = #{id}
  </select>
</mapper>